body {
	text-align: center;
    background: #eee9de;
    color: #877c61;
}

ul {
	list-style-type: none;
}

.list-main {
	text-align: left;
}

.cover-pes {
background: #151515 url(../img/labrador_zlaty.jpg) no-repeat;
background-size: cover;
height: 1173px;
}

.cover-pes-kontakt {
background: #151515 url(../img/bg_kontakt.jpg) no-repeat;
background-size: cover;
height: 2213px;
}

.o-psech {
 text-align: left;
 margin: 0 12rem;
}

.psi-galerie {
padding-left: 14rem;
}

.a-vstup {
 border: 16px solid #f7f1e5;
    background-color: #f7f1e5;
    color: #b09f7e;

}

#menu {
    display: block;
    width: 100%;
    height: 66px;
    /* position: absolute; */
	position: fixed;
    left: 0;
    top: 133px;
    font-size: 18px;
    font-family: 'titillium_websemibold';
    text-shadow: 1px 1px 0px #fff;
	
	margin-top: 4rem;
	
}

#menu ul {
	width: 5rem;
    padding: 1rem;
	
}

#menu ul li {
    border-style: solid;
    padding: 0px 16px;
    width: 7rem;
	background: linear-gradient(to bottom, #e9e6dd 0%, #c9c1ad 100%);
}

#menu ul li a {
    display: block;
    height: 51px;
    color: #907f57;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
    padding: 15px 21px 0 19px;
    line-height: 19px;
    position: relative;
}

#portal-vstup {
border: 10px solid #ccc;
    padding: -5pt;
    margin: 0 36.9vw;
}