body {
  padding: 3em;
  margin: 0;
}

h3.__postTitle {
  cursor: pointer;
}

h3.__postTitle:hover {
  color: #ccc;
  transition: 300ms;
}

div#output {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

div#output > div {
  flex-basis: 40%;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  
}

div#output > div:hover {
  
  background:white;
  transition: 300ms; 
}

.__navigation {
  text-align: center;
  display: block;
}

.__navigation.is-not-displayed {
  display: none;
}

.__navigation a {
  cursor: pointer;
}

.__actual-page {
  color: red;
}

.pagination {
  display: block;
}

.pagination a {
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination a:hover{
  background-color:red;
  transition: 0.7s;
}

.__back {
  font-style: italic;
  text-decoration: none;
  color: black;
  font-size: 19px;
}
.__back:hover {
  color: red;
  transition: 0.4s;
}

.o-psech p {
    color: #877c61;
}

.o-psech h3 {
    font-size: 24px;
    margin: 1em 0 0.7em 0;
    /* font-family: 'titillium_websemibold'; */
    color: #b09f7e;
    line-height: 24px;
}

div#output > div {
    flex-basis: 40%;
    background: #f9f9f9;
    border: 10px solid #ccc;
    border-left: 50px solid #f7f1e5;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
